<div class="wrap">
  <div class="listView">
{{#each .}}
  <a class="listInfo" id="{{tvdbid}}">
    <span class="title">{{show_name}}</span>
    <span class="subText">{{quality}}</span>
    <div class="listExtra"></div>
  </a>
{{/each}}
  </div>
</div>
