<div class="snap-drawers">
  <div class="snap-drawer snap-drawer-left">
    <h2>Left</h2>
    <ul>
      <li>{{#linkTo 'index' class="index"}}<i class="icon-home"></i> Home{{/linkTo}}</li>
      <li>{{#linkTo 'settings' class="settings"}}<i class="icon-gear"></i> Settings{{/linkTo}}</li>
    </ul>
  </div>
  <div class="snap-drawer snap-drawer-right">
    <h2>Remote</h2>
  </div>
</div>
<div id="main" class="snap-content">
  <div id="toolbar">
    <a {{action 'toggleLeft'}} id="open-left"><i class="icon-reorder"></i></a>
    <h1>Mittens</h1>
  </div>
  <div id="content">
    {{outlet main}}
  </div>
</div>
