<header>
  <h3>{{view.title}}</h3>
  {{#if content.isLoaded}}
    <div class="num-results">{{view.filteredContent.length}}</div>
  {{else}}
    <div class="loading"><i class="icon-spinner icon-spin"></i></div>
  {{/if}}
</header>
{{#if content.isLoaded}}
  <ul class="list">
  {{#each view.filteredContent}}
    {{render "searchItem" this}}
  {{/each}}
  </ul>
{{/if}}
