@import url(http://fonts.googleapis.com/css?family=Oxygen);
@import url('searchBox.css');

html {
  height: 100%;
  font-size: 1em;
  font-family: 'Oxygen','HelveticaNeue-Light',Helvetica,Arial,sans-serif;
  font-weight: 300;
}

html.touch {
  font-size: 1.3em;
}

body {
  height: 100%;
  background: #eee url(../images/bg_texture.jpg) fixed;
  display: -webkit-flex;
  display: flex;
}

#mittens {
  margin: auto;
  max-width: 40em;
  width: 100%;
}

.listView .listAdd {
  background: #F8F8F8;
  text-align: center;
  padding: 15px 10px 15px 0px;
  margin: 0 10px 0 10px;
}

.listView .listCancelButton {
  height: 40px;
  width: 25%;
  text-align: center;
  line-height: 40px;
}

.listView .listAddButton {
  height: 40px;
  width: 55%;
  text-align: center;
  line-height: 40px;
}


.mittensProgress {
  width: 60%;
  margin-left: 10px;
}

#loadBar {
  height: 5px;
  width: 100%;
}

#loadBarProgress {
  height: 100%;
  width: 0%;
  background-color:rgb(255, 0, 173);
}

.wrap {
  width: auto;
  background: #eee;
  -webkit-box-shadow: #888888 0 1px 4px;
  -moz-box-shadow: #888888 0 1px 4px;
  -o-box-shadow: #888888 0 1px 4px;
  box-shadow: #888888 0 1px 4px;
}

