.search-box {
  max-width: 40em;
  min-width: 14em;
  margin: 1rem;
  box-sizing: border-box;
}

.search-box header {
  display: -webkit-flex;
  display: flex;
  font-size: 1em;
  line-height: 1em;
  box-shadow: #333 0 0 1em -0.3em;
}

.search-box header input {
  -webkit-flex: 1;
  flex: 1;
  border: none;
  outline: none;
  background: #2f373a;
  padding: 0.3em 0.5em;
  color: #fff;
}

.search-box input::-webkit-input-placeholder,
.search-box input:-moz-placeholder,
.search-box input::-moz-placeholder,
.search-box input:-ms-input-placeholder {
  color: #efb480;
}

.search-box header button  {
  font-size: 1.2em;
  line-height: 0;
  padding: 0.5em 0.5em;
  background: #FF7A00;
  color: #fff;
  border: none;
  text-align: center;
  cursor: pointer;
}

.search-box button span {
  height: 0;
  width: 0;
  text-indent: -1000px;
  display: block;
  overflow: hidden;
}

.search-box .results {
  background: #fff;
  box-shadow: #333 0 0 1em -0.3em;
}

.search-box .loading {
  text-align: center;
  width: 100%;
  margin: 0.5em;
  font-size: 1.5em
}

.search-box h3 {
  margin: 0;
  background: #f1f1f1;
  font-weight: normal;
  font-size: 1em;
  padding: 0.4rem;
}

.search-box ul {
  margin: 0;
  padding: 0;
}

.search-box li {
  display: block;
  border-bottom: 1px solid #dddddd;
  background-color: #fff;
  position: relative;
}

.search-box li:hover {
  background-color: #27a1c5;
  color: #fff;
}

.search-box .body {
  display: -webkit-flex;
  display: flex;
}

.search-box h4 {
  font-size: 1.2em;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin: 0 0.5em 0 0;
  -webkit-flex: 1;
  flex: 1;
  margin: 0.82rem;
  color: #2f373a;
}

.search-box .subTitle {
  color: #ccc;
  font-weight: bold;
  font-size: 1.3rem;;
  margin: 0.6rem 0;
}

.search-box .open {
  margin: 0.82rem;
}

.search-box .open span {
  font-size: 0;
  line-height: 0;
  text-indent: -1000px;
}

.search-box .actions {
  display: none;
}
