.search-box {
  max-width: 40em;
  min-width: 14em;
  margin: 1em;
  box-sizing: border-box;
}

.search-box header {
  display: -webkit-flex;
  display: flex;
  font-size: 1em;
  line-height: 1em;
}

.search-box header input {
  -webkit-flex: 1;
  flex: 1;
  border: none;
  outline: none;
  background: #2f373a;
  padding: 0.3em 0.5em;
  color: #fff;
}

.search-box input::-webkit-input-placeholder,
.search-box input:-moz-placeholder,
.search-box input::-moz-placeholder,
.search-box input:-ms-input-placeholder {
  color: #efb480;
}

.search-box header button  {
  font-size: 1.2em;
  line-height: 1.5em;
  padding: 0.2em 0.5em;
  background: #FF7A00;
  color: #fff;
  border: none;
  text-align: center;
  cursor: pointer;
}

.search-box button span {
  height: 0;
  width: 0;
  text-indent: -1000px;
  display: block;
}

.search-box-submit {
  background: #fff; /* IE needs this */
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; /* IE 8 */
    filter: alpha(opacity=0); /* IE 5-7 */
    opacity: 0;
  color: transparent;
  border: none;
  outline: none;
  z-index: -1;
}

.sb-icon-search {
  color: #FFF;
  background: #FF7A00;
  z-index: 90;
  font-size: 22px;
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
}

.sb-icon-search:before {
  content: "\e000";
}

/* Open state */
.search-box.search-box-open,
.no-js .search-box {
  width: 100%;
}

.search-box.search-box-open .sb-icon-search,
.no-js .search-box .sb-icon-search {
  background: #da6d0d;
  color: #fff;
  z-index: 11;
}

.search-box.search-box-open .search-box-submit,
.no-js .search-box .search-box-submit {
  z-index: 90;
}

.label-success, .btn-success {
  background-color: rgb(126, 255, 126);
}
.label-important, .btn-danger {
  background-color: red;
}
