.search-box {
  max-width: 40em;
  min-width: 14em;
  margin: 1rem;
  box-sizing: border-box;
  transition: margin 0.2s linear;
}

.search-box.small {
  margin: 0;
}

.search-box header {
  display: -webkit-flex;
  display: flex;
  font-size: 1em;
  line-height: 1em;
  box-shadow: #333 0 0 1em -0.3em;
}

.search-box header input {
  -webkit-flex: 1;
  flex: 1;
  border: none;
  outline: none;
  background: #2f373a;
  padding: 0.3em 0.5em;
  color: #fff;
}

.search-box input::-webkit-input-placeholder,
.search-box input:-moz-placeholder,
.search-box input::-moz-placeholder,
.search-box input:-ms-input-placeholder {
  color: #efb480;
}

.search-box header button  {
  font-size: 1.2em;
  line-height: 0;
  padding: 0.5em 0.5em;
  background: #FF7A00;
  color: #fff;
  border: none;
  text-align: center;
  cursor: pointer;
}

.search-box button span {
  height: 0;
  width: 0;
  text-indent: -1000px;
  display: block;
  overflow: hidden;
}

.search-box .results {
  background: #fff;
  box-shadow: #333 0 0 1em -0.3em;
}

.search-box .category > header {
  background: #e1e1e1;
  display: -webkit-flex;
  display: flex;
}

.search-box .num-results {
  background: #FF7A00;
  font-size: 0.9em;
  color: #fff;
  font-weight: bold;
  padding: 0.15em 0.3em;
  margin: 0.3em;
  border-radius: 0.4em;
  letter-spacing: 0.1em;
}

.search-box h3 {
  margin: 0;
  font-weight: normal;
  font-size: 1em;
  padding: 0.4rem;
  -webkit-flex: 1;
  flex: 1;
}

.search-box .loading {
  margin: 0.4em;
}

.search-box .category > .list {
  margin: 0;
  padding: 0;
}

.search-box .list > li {
  display: block;
  border-bottom: 1px solid #dddddd;
  background-color: #fff;
  position: relative;
}

.search-box .list > li:hover {
  background-color: #27a1c5;
  color: #fff;
}

.search-box .body {
  display: -webkit-flex;
  display: flex;
}

.search-box h4 {
  font-size: 1.2em;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  -webkit-flex: 1;
  flex: 1;
  margin: 0.82rem;
  color: #2f373a;
}

.search-box li:hover h4,
.search-box li:hover .subTitle {
  color: #fff;
}

.search-box .subTitle {
  color: #ccc;
  font-weight: bold;
  font-size: 1.3rem;;
  margin: 0.6rem 0;
}

.search-box .toggle-view {
  margin: 0.82rem;
}

.search-box .toggle-view span {
  font-size: 0;
  line-height: 0;
  text-indent: -1000px;
}

.search-box .actions {
  overflow: hidden;
  display: none;
  margin: 0.82rem;
}

.search-box .actions.open {
  display: block;
}

.actions .content {
  display: flex;
  display: -webkit-flex;
}

.small .actions .content {
  flex-direction: column-reverse;
  -webkit-flex-direction: column-reverse;
}

.actions .left {
  flex: 1;
  -webkit-flex: 1;
  min-width: 4em;
}

.actions .right {
   min-width: 2em;
}

.actions .plot {
    /* float: left; */
    /* width: 65%; */
    /* margin-left: 10px; */
}
.something {
    height: 220px;
}
.leftSide {
    float: left;
    width: 65%;
    margin-left: 13px;
}
.leftSide span {
    display: block;
    padding-top: 5px;
}
.sub {
    font-size: 12px;
    /* padding-left: 5px; */
}
a {
    /* padding-left: 10px; */
}
.actions.showActions {
    display: inline;
}
.addLink {
    color: white;
    background-color: rgb(0, 207, 0);
    display: inline-block;
    margin: 10px 0px 0px 10px;
    border-radius: 6px;
    padding: 10px 40px 10px 40px;
}
