<header>
  {{view Mittens.SearchField valueBinding='query' placeholderBinding='label'}}
  <button {{action submit}}><i class="icon-search"></i><span> Search</span></button>
</header>
{{#if hasSearched}}
  {{view Mittens.SearchCategoryView contentBinding="content"}}
{{/if}}
