{{#if title}}
  <h3>{{title}}</h3>
{{/if}}
<span>Oj jessae</span>
<ul class="listView">
  {{#each .}}
    <li class="listViewElm">
      <span class="listViewTitle">{{original_title}}</span>
      <span class="listViewYear">{{year}}</span>
    </li>
  {{/each}}
</ul>
